.catalog-items {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, 150px);
    grid-auto-flow: row;
    grid-gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
}